//- <!DOCTYPE html>
//- html(lang="en")
//- head
//-     meta(charset="UTF-8")
//-     title Document
//- body
//-     h1 "Hello World!"
//-     p Outer Paragraph
//-         .foo A div with a class of foo
//-     h2 Let's do some math! #{5+5}
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title PUG
    body
    h1 Do not go gentle into that good night
    h1 Old age should burn and rave at close of day
    h1 Rage Rage against the dying of the light